
.personal-card{
    flex: 0.2;
    // align-items: center;
    margin-top: 40px;
    
    display: flex;   
    height: 90vh;
    justify-content: center;
    border: none;
    border-radius: 12px;
    position: relative;
    background-color: transparent;
    align-items: center;
    
    // padding: ;

    
        /* Styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
   max-height: 70vh;
  }
  
  /* Styles for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Add your styles here */
    max-height: 70vh;
    display: none;
    
  }
    
        /* Styles for screens smaller than 576px */
        @media (max-width: 575px) {
            /* Add your styles here */
            display: none;
            margin: 0;
        }

    .personalCard-wrapper 
    {

        position: absolute;
        margin: 20px;
        
        // object-fit: contain;
        justify-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;




        .name-workTitle

        {
           
            gap: none;
            line-height: 5px;
            .my-name-card
            {
                font-size: 1.7rem;
                font-family: 'Bebas Neue', sans-serif;
                font-weight: bold;
                color: black;
                letter-spacing: 3px;
                word-spacing: 5px;

                @media (min-width: 768px) and (max-width: 991px) {
                    /* Add your styles here */
                    letter-spacing: none;
                    word-spacing: none;
                    font-size: 1rem;
                    
                  }
                    
                        /* Styles for screens smaller than 576px */
                        @media (max-width: 575px) {
                            /* Add your styles here */
                            letter-spacing: none;
                    word-spacing: none;
                    font-size: 1rem;
                        }
                
            }

            .workTitle
            {
                font-size: 12px;
                font-weight: bold;
                // letter-spacing: 3px;
                    word-spacing: 5px;
                // font-family: 'Bebas Neue', sans-serif;

                @media (min-width: 768px) and (max-width: 991px) {
                    /* Add your styles here */
                    
                    font-size: 11px;
                    letter-spacing: 0;
                    word-spacing: 0;
                    gap: 0;
                    line-height: none;
                    margin-top: -3px;
                    
                  }
                    
                        /* Styles for screens smaller than 576px */
                        @media (max-width: 575px) {
                            /* Add your styles here */
                            font-size: 10px;
                            letter-spacing: 0;
                    word-spacing: 0;
                    gap: 0;
                    line-height: none;
                    margin-top: -3px;
                        }
            }

        }

        img 
        {
            width: 100%;
            border-radius: 12px;
            // position: absolute;
        }  
        
        .my-details
        {
            

            a{
                text-decoration: none;
                color: white;
            }
            color: white;
            text-align: center;
            margin-top: 30px;
        }

        .rights{
            color: white;
                text-align: center;
                font-size: 10px;
                color: grey;
        }

        .btn-color{
            background-color: rgb(66, 66, 225);
            color: white;

            /* Styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Add your styles here */
    font-size: 12px;
  }
  
  /* Styles for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Add your styles here */
    font-size: 12px;
  }
        }
    

        
    }

    
}
