.wrapper
{
    height: 200px;
    min-width: 150px;
    width: 120px;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: none;
    transition: transform .25s;

    &:hover
    {
        transform: scale(1.2);
        }
    


    .card
    {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0px;
        

        .image
        {
           height: 70px;
        }
        

        

        span 
        {
            
            font-size: 30px;
            font-weight: bold;
            color: white;
        }
        
    }
    @media (max-width: 575px) 
  {
    height: 150px;
    min-width: 85px;
    width: 120px;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: none;
    transition: transform .25s;

    &:hover
    {
        transform: none;
        }

    .card
    {
        height: 100%;
        width: auto;
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0px;
        

        .image
        {
           height: 35px;
        }
        

        

        span 
        {
            
            font-size: 15px;
            font-weight: bold;
            color: white;
        }

  }
}}