nav
{
    flex: 0.1;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 575px) {
    
            /* Add your styles here */
            flex: 0.1;
            justify-content: center;
            position:sticky;
        }

        
    
    
    
    .navigations
    {
       
        // border-radius: 12px;

        

        ul 
        {

            background-color: rgba(233, 229, 229, 0.829);
                height: fit-content;
                width: 50px;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li 
            {
                padding: 10px;
                list-style: none;

                // &hover::after{
                //     display: keywords($args: home);
                // }
            }
        }

        
    }
    
    
}